<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>
<hr>
<% if(current_user.admin?) %>
  <div>
    <%= t ".download" %>
    <%= link_to t(".excel"), users_path(format: "xls") %>
  </div><hr>
<% end %>
<div class="input-group search_inline">
  <%= search_form_for @q do |f| %>
    <%= f.label :user %>
    <%= f.search_field :user_cont, placeholder: t(".search") %>
    <%= f.submit t(".search"), name: nil, class: "btn btn-primary btn_search" %>
  <% end %>
</div>
</br><hr>

<ul class="users">
  <%= render "user" %>
</ul>

