<%= render template: "static_pages/home" %>

<h3 class="text-center"><b><%= t ".title" %></b></h3><hr>

<div class="container">
  <div class="input-group search_inline">
    <%= search_form_for @q do |f| %>
    <%= f.label :book %>
    <%= f.search_field :book_cont, placeholder: t(".search") %>
    <%= f.submit t(".search"), name: nil, class: "btn btn-primary btn_search" %>
    <% end %>
  </div><hr>

  <div class="row">
    <% @books.each do |book| %>
      <%= render "book_row", book: book, request_detail: @request_detail %>
    <% end %>
  </div>
  <%= will_paginate %>
</div>
